@model HotelManager.Web.Areas.ViewModel.RoelViewModel


<div class="modal-header">

    <h5 class="modal-title" id="exampleModalLabel">更新使用者</h5>



    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="SaveForm">
        <input type="hidden" id="Id" name="Id" value="@Model.Id">
        <div class="mb-3">
            @Html.LabelFor(n => n.name, new { @class = "col-form-label" })
            @Html.TextBoxFor(n => n.name, new { @class = "form-control" })
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
    <button type="button" id="SaveBtn-btn" class="btn btn-primary">儲存</button>
</div>

<script>
    $("#SaveBtn-btn").click(function () {
        $.ajax({
            url: "@Url.Action("Action", "Roles")",
            type: "post",
            data: $("#SaveForm").serialize(),
        }).done(function (respone) {
            debugger;
            if (respone.Success) {
                debugger;
                location.reload();
            }
        })
    })
</script>